.commands {
  width: 250px;
  margin: 40px;
  font-family: Segoe UI;
}

.menu-btn {
  width: 100%;
  background: #4f67c7;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.dropdown {
  border: 1px solid #ccc;
  background: white;
}

.dropdown-item {
  width: 100%;
  padding: 10px;
  border: none;
  text-align: left;
  background: white;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #e7f0ff;
}

.dropdown-sub-item {
  width: 100%;
  padding: 10px 25px;
  border: none;
  text-align: left;
  background: #f8f8f8;
  cursor: pointer;
}

.dropdown-sub-item:hover {
  background: #dde9ff;
}

.dropdown-child-item {
  width: 100%;
  padding: 10px 45px;
  border: none;
  text-align: left;
  background: white;
  cursor: pointer;
}

.dropdown-child-item:hover {
  background: #cfe0ff;
}