.workspace {

    flex: 1;

    background: #1d1f23;

    position: relative;

    overflow: hidden;

    background-image:
        linear-gradient(rgba(255, 255, 255, .05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, .05) 1px, transparent 1px);

    background-size: 25px 25px;
}

.crosshair {

    position: absolute;

    top: 50%;
    left: 50%;

    color: white;

    font-size: 40px;

    transform: translate(-50%, -50%);
}